extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug

block main
	div(class="text-right tracking-[20px] font-bold text-[30px] capitalize pb-[10px]") Trang quản lí sản phẩm

	div(class="rounded-[10px] truncate border-[1px] border-[#A6A6A6] mb-[20px]")
		div(class="p-[10px] bg-[#A6A6A6] font-bold") Bộ lọc và tìm kiếm
		div(class="flex justify-between items-center p-[10px] ") 
			div(class="flex gap-[10px] flex-wrap ")
				+filter-status(filterStatus)
			+search(keyword)

	div(class="rounded-[10px] truncate border-[1px] border-[#A6A6A6]")
		div(class="p-[10px] bg-[#A6A6A6] font-bold") Bộ lọc và tìm kiếm
		div(class="p-[10px] flex gap-[10px] flex-wrap ")
			table(class="w-full")
				thead
					tr(class="capitalize")
						th STT
						th hình ảnh
						th sản phẩm
						th giá
						th trạng thái
						th hoạt động
				tbody
					each it, i in product 
						tr
							td(class="text-center ") #{i + 1}
							td
								img(
									src=it.thumbnail
									alt=it.title
									width='100px'
									height='auto'
									class="mx-auto"
								)
							td(
								class="text-[30px]"
							) #{it.title}
							td(class="text-center") #{it.price}
							td(class="text-center ")
								- if(it.status == 'active')
									button(class="bg-[#1E429F] text-[white] rounded-[10px] px-[10px] py-[5px] text-[10px] capitalize") Hoạt động
								- else
									button(class="bg-[#323232] text-[white] rounded-[10px] px-[10px] py-[5px] text-[10px] capitalize") dừng hoạt động
							td(class="text-center ")
								button(class="bg-[#2D2E28] text-[white] rounded-[10px] px-[10px] py-[5px] text-[14px] capitalize mr-[10px]") Sửa
								button(class="bg-[#FA4F64] text-[white] rounded-[10px] px-[10px] py-[5px] text-[14px] capitalize") Xóa